<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet"  type="text/css" href="../public/stylesheets/style fakelogin.css" /> 
  </head>
  <body>
  <header>   
    <h1> GoLabuta</h1>
  </header>

  <!--- criando Html pra o CSS FlexBox--->
  <div class="departamentos">
  <div class="atleta">
   <p>
     Atleta</br>
     <a href=".">Login</a>
    </p>
  </div>
  <div class="gestor">
      <p>
        Gestor</br>
        <a href=".">Login</a>
       </p>
     </div>
  <div class="staff">
      <p>
        Staff</br>
        <a href=".">Login</a>
      </p>
   </div>
  </div>

    </body>

</html>
