body{
  display: grid;/*Funcionamento:abrir um grid*/ 
  grid-template-columns:repeat(4,1f);
  grid-gap:10px; /*Abre um intervalo entre as colunas*/
  grid-template-areas:
  'header header header header '
  'nav nav nav nav'
  'main main main main '
  'footer footer footer footer';/*Funcinamento: organização padrão da pagina, as repetições determina as colunas*/ 
  grid-template-columns: auto auto auto ;
  font-size: 30px;
  color:rgb(253, 253, 253);
  background-color:rgb(143, 132, 112);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

header{
  grid-area: header;
}

nav{
  grid-area: nav;
  background-color: rgb(115, 177, 177);
}

main{
grid-area: main;/*Diz ao sistema o local da pagina que determinado elemento deve ser colocado */ 
width: auto;
flex-direction: column;
}

a:link, a:visited{
  color: rgb(51, 0, 0);
  padding: 3px;
  background-color:rgb(173, 80, 80);;
  text-decoration: none;
  font-size: 18px; 
}

a:hover{
  background-color:greenyellow;
  text-decoration: underline;
}

 aside {
  grid-area:aside;
  /*background-color: blue;*/
  padding:0px 0px 0px 0px;
  border-style: solid;
  border-right-style: solid;
  border-right-color: black; 
  border-left-color: rgb(143, 132, 112);
  border-top-color: rgb(143, 132, 112);
  border-bottom-color: rgb(143, 132, 112);
  

}

body>header {
  background-color: rgb(52, 82, 82);
  color:rgb(173, 80, 80);
  font-size:30px;
}


h2 {
  text-align:start;
}

footer {
  grid-area:footer;
  background-color: rgb(52, 82, 82);
  margin:100px 0px 0px 0px;

}

 section ul li{
  grid-area: aside;
  list-style:none;
  font-size: 20px;
}

label{
  display: block;
  color:rgb(43, 43, 43);
  margin-left: 10%;
}

textarea{
  display: block;

}


.atleta ul{
  display:flex;
  justify-content: space-evenly;
  
}
.gestor ul{
  display:flex;
  justify-content: space-evenly;
  }

.staff ul{
    display:flex;
    justify-content: space-evenly;
}
 
ul li img{
   height:100px;
 }

 h3{
  color:rgb(229, 231, 84);
  margin-left: 5%;
 }
 
 ol li{
  color:rgb(43, 43, 43);
  margin-left: 10%;
 }
  
 nav ul  {
   display:flex; 
   justify-content: flex-start;
 
 }
 nav ul li{
   margin-right: 10px;
   list-style: none;
 }

 .img {
  border-radius: 50%;
  height:40px ;
  margin-right: 20px;

  }

  .move {
    display: flex;
  }

  body main li{
  color: rgb(181, 242, 247);
  margin-left: 100px;


  }

  .config{
    margin-left: 80px;
  }


