<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet"  type="text/css" href="../public/stylesheets/style layout.css" />
  </head>
  <body>
    <header >
    <h1> GoLabuta</h1>
    <div class=lislink>
        <nav>
          <ul>
            <li> <a href="Fake Login.html"> Fake Login </a></li>
            <li><a href=".">  Sobre</a></li> 
            <li> <a href=".">Info</a></li>
          </ul>
         </nav>
        </div>
  </header>
    
     <h2 > <strong>Inscreva já a sua equipa desportiva no GoLabuta!!</strong> </h2>
     
     <em id="mark">
     <p><h5>Com a plataforma GoLbuta tens a possiblidade
     <br/>de gerir em alto nivel a sua equipa desportiva,
     <br/>dos gestores aos atletas.</h5> </p>
     </em>
     <h3>Com uma plataforma independente para cada usuario</h3>
     <ol>
         <li>Gestores</li>
         <li>Staff tecnica</li>
         <li>Atletas</li>
     </ol>
     <p>Com a possiblidade da comunicação e acesso aos dados 
     <br/>dependendo do nivel de hierarqia. 
    </p>
    
     <h3 class="corlis">Admistrarás as seguintes ferramentas:</h3>
     <ul>
            <li><strong>Calendarios</strong></li>
            <di>
                <dt>Jogos</dt>
                <dd>Quando e onde serão os jogos</dd>
            </di>
            <li><strong>Treinos</strong></li>
            <di>
                <dt>Por atleta</dt>
                <dd>Determinar o treino de um atleta em especifico</dd>
            </di>
            <li><strong>Nutrição</strong></li>
            <di>
                <dt>Medicos da staff</dt>
                <dd>Envio de laudos medicos com a interface do exame</dd>
            </di>
     </ul>
     <footer>
       <p>Email: DENDKWEMD@GMAIL.COM</p>
     </footer>

  </body>
</html>
